body {
  font-family: 'Lora', Arial, Helvetica, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}

html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 25px;
}

a {
  transition: all 0.2 ease-in-out;
  color: cyan;
}

a:focus,
a:hover {
  text-decoration: none;
  color: cadetblue;
}

/* Media Queries */
@media only screen and (min-width:768px) {
  p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}


button.navbar-toggler-right.navbar-toggler-right {
  outline: none;
}