body {
  font-family: 'Lora', Arial, Helvetica, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 1);
}

html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 25px;
}

a {
  transition: all 0.2 ease-in-out;
  color: cyan;
}

a:focus,
a:hover {
  text-decoration: none;
  color: cadetblue;
}

/* Masthead */
.masthead {
  background: url('./img/intro-bg.jpg') no-repeat bottom center scroll;
  background-color: #000;
  background-size: cover;
  color: #fff;
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 1.125rem;
}

.text-drop {
  text-shadow: 2px 4px rgba(0, 0, 0, 0.75);
}

.tag-line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-family: 'Cabin', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  padding: 20px 0;
}

.display-1 {
  font-size: 1.5em;
}

.btn-circle {
  color: white;
  font-size: calc(2rem-6px);
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  transition: background-color 0.3s ease-in-out;
  border: 2px solid #fff;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus,
.btn-circle:hover {
  color: #fff;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
}

button.navbar-toggler-right.navbar-toggler-right {
  outline: none;
}


#mainNav {
  background-color: transparent;
  color: #000;
  font-family: 'Cabin', Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
}

#mainNav .navbar-toggler {
  border: 1px solid #fff;
  font-size: .875rem;
  padding: 11px;
  color: #fff;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: #fff;
}

#mainNav .navbar-nav .nav-item {
  transition: background-color ease-in-out 0.3s;
}

#mainNav .navbar-nav .nav-item:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
  background-color: transparent;
  outline: none;
}

.content-section {
  padding: 150px 0;
}

.doc-section {
  color: #FFF;
  background: url('./img/downloads-bg.jpg') no-repeat center center scroll;
  background-color: #FFF;
  background-size: cover;
}

.btn {
  font-family: 'Cabin', Arial, Helvetica, sans-serif;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

/* Media Queries */
@media only screen and(min-width:992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background-color 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background-color: transparent;
  }

  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #000;
  }

  #mainNav .nav-link:active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }

  #mainNav .nav-link:hover {
    color: #FFF;
  }

  .content-section {
    padding-top: 100px 0;
  }
}

@media only screen and (min-width:768px) {
  .masthead {
    height: 100%;
    padding: 0%;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 0 0 35px;
  }

  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }

  .masthead .intro-body .intro-text {
    font-size: 1.5rem;
  }
}